# Required for the API to be reachable from the frontend
API_URL=http://127.0.0.1:9000
API_PORT=9000
API_LISTEN_ADDRESS=0.0.0.0

# Optional tuning
DISABLED_SERVICES=
RATELIMIT_WINDOW=60
RATELIMIT_MAX=20
DURATION_LIMIT=10800
TURNSTILE_SITEKEY=
TURNSTILE_SECRET=
JWT_SECRET=
